<a href="https://colab.research.google.com/github/JaleneSantiago/CPE009A-OOP/blob/main/demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operations and Expressions in Python

Bool() Function

In [ ]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

In [ ]:
print(bool("Hello"))
print(bool(15))
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

Function can Return a Boolean

In [ ]:
def myFunction():
  return True

if myFunction():
  print("YES")
else:
  print("NO")

YES

TRY

In [ ]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [ ]:
a=60
b=13
print (a&b)
print (a|b)
print (a^b)
a<<1

12
61
49

120

Python Assignment Operators

In [ ]:
x=6

x+=3 #same as x = x+3
print (x)
x-=3 #same as x = x-3
print (x)
x*=3 #same as x = x*3
print (x)
x/=3 #same as x = x/3
print (x)
x%=3 #same as x = x%3
print (x)

9
6
18
6.0
0.0

Python Logical Operators

In [ ]:
y = 60
z = 13

print(y>z)
print(z>y)
print ("-------")
print(y>z and z>y)
print(not(y>z and z>y))
print(y>z or z>y)
print(not(y>z or z>y))

True
False
-------
False
True
True
False

Identity Operators

In [ ]:
x = 60
y = 13
print(x is y)
print(x is not y)

False
True

LOOP Statement

FOR loop

In [47]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

BREAK Statement

In [46]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [45]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

To display only "Thursday"

In [44]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

Looping through a String

In [43]:
for x in "week":
  print(x)

w
e
e
k

The range() Function

In [42]:
for x in range(6):
  print (x)
print("-----")
for x in range(2,6):
  print (x)
print("-----")
for x in range(2,2,7):
  print (x)
  break

0
1
2
3
4
5
-----
2
3
4
5
-----

Nested Loops

In [41]:
adjective=["red", "big", "tasty"] #outer for loop
fruits=["apple", "banana", "cherry"] #inner for loop
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

WHILE Statement

In [40]:
i=1
while i<6:
  print(i)
  i+=1 #i = i + 1 assignment operator

1
2
3
4
5

The break statement

In [39]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [38]:
i=0
while i<6:
  i+=1
  if i==3: #ignore
    continue
  print(i)

1
2
4
5
6

The else statement

In [37]:
i=1
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6