<a href="https://colab.research.google.com/github/JaleneSantiago/CPE009A-OOP/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [2]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [2]:
if 5>2:
  print("Five is greater than two") #comparison of numbers 5 and 2

Python Variable

In [6]:
x=1 #this is a single variable with a value
a,b=0,-1

print (a)
print (b)
print (x)

b="Sally"
print (b)

0
-1
1
Sally

Python Casting

In [7]:
b="sally" #this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Python Type() Function

In [8]:
x=5
y="John"
print(type(x))
print (type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [9]:
y="John"
print (y)

y='John'
print (y)

John
John

Case Sensitive

In [11]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [12]:
x,y,z = "one","two","three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [14]:
x=y=z="four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [22]:
x="enjoying"
print("Python programming is" + " " + x)

Python programming is enjoying

Other way

In [24]:
x="Python is "
y="enjoying"
z=x+y
print (z)

Python is enjoying

Arithmetic Operations

In [25]:
x=5
y=3
print (x+y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [26]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators

In [27]:
x=1
y=1
x==y

True

Logical Operators

In [28]:
x=1
x<5 and x<10

True

Identity Operators

In [32]:
a,b,c=0,-1,5
a is c

False

Bitwise Operators

In [33]:
1 ^ 2

3