<a href="https://colab.research.google.com/github/JaleneSantiago/CPE009A-OOP/blob/main/Hands_on_Activity_1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [2]:
x = float (1)
a, b = 0, -1
a, b, c = "Katrina", "Rue", "Nate"

print('This is a sample')
print (a)
print (c)

This is a sample
Katrina
Nate

Casting

In [3]:
print(x)

1.0

Type()Function

In [4]:
y = "Romblon"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double Quotes and Single Quotes

In [5]:
#h = "Good morning"
h = 'Good morning'
v = 1
V = 3

print(h)
print(v)
print(v+1)

Good morning
1
2

Multiple Variables

In [6]:
x, y, z = "Anna", "Marie", 'Kay'

print (x)
print (y)
print (z)
print (x, y, z)

Anna
Marie
Kay
Anna Marie Kay

One Value to Multiple Variables

In [7]:
x = y = z = "Hello"
print (x, y, z)
print (x)
print (y)
print (z)

Hello Hello Hello
Hello
Hello
Hello

Output Variables

In [8]:
x = "Python"
y = "I love"

print("I love " + x)
print(y + " "+ x)

I love Python
I love Python

Arithmetic Operations

In [9]:
m = 5
o = 2
n = 7

print(m+n)
print(m-n)
print(o*n)
print(int(m/o))
print(5/m)
print(5%m)
print(5//m)
print(5**2)

12
-2
14
2
1.0
0
1
25

Boolean Operators

In [10]:
k=2
l=3
print(k>>2)#shift right twice
print(k<<2)#shift left twice

0
8

Relational Operators

In [11]:
t=1
v=2

print(t>v)
print(v==t)

False
False

Logical Operators

In [12]:
print(v<t and t==t)
print(v<t or t==v)
print(not (v<t or t==v))

False
False
True

Identity Operators

In [13]:
print(v is k)
print(v is not k)

True
False